* {
  margin: 0px;
  padding: 0px;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-color: #111;
}

#string {
  height: 200px;
  width: 100%;
  background-color: #111;
}

svg {
}
