* {
  margin: 0px;
  padding: 0px;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-color: #111;
}

#main {
  height: 100%;
  width: 100%;
  background-color: #111;
}

#cursor {
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 50%;
  position: fixed;
  opacity: 0;
  pointer-events: none; /* IMPORTANT */
  transform: translate(-50%, -50%);
}
